In [1]:
# for haddad_6week_allFeatures_sampMatch_norm_rare2k_hdf5

In [2]:
import numpy as np
import pandas as pd
from biom import load_table
from gneiss.util import match

import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from dsfdr import dsfdr
from dsfdr import simulation
from dsfdr import statistics
from dsfdr import transform

In [4]:
## load biom table

In [5]:
def convert_biom_to_pandas(table):
    otu_table = pd.DataFrame(np.array(table.matrix_data.todense()).T,
                             index=table.ids(axis='sample'),
                             columns=table.ids(axis='observation'))
    return otu_table

In [6]:
table = load_table('haddad_6week_allFeatures_sampMatch_norm_rare2k_hdf5.biom')
otu_table = convert_biom_to_pandas(table)

In [7]:
otu_table.head()

,132.1020924_0.449153766,166.0862755_0.585879327,357.2784139_5.010000161,104.1070008_0.335921715,373.2735012_3.97918766,496.3397537_5.193326248,118.0863174_0.376440304,373.2734876_4.338406811,86.09642685_0.447378365,391.2841105_4.130280369,...,186.1128693_2.558739333,218.1388063_2.565294444,127.1119397_2.218331567,176.0377626_1.846640909,144.0836803_0.989505556,146.0604976_2.344461681,148.0758861_2.63692963,111.0458191_0.315484568,224.092138_1.512663978,181.0611441_1.222565789
10422.17.F.10,2379.403416,1201.366475,610.363039,826.167771,495.320254,593.378401,446.573375,510.036563,365.878086,411.027445,...,0.004542,0.005258,0.009568,0.0,0.0,0.000000,0.002785,0.000000,0.000000,0.000000
10422.17.F.11,3503.737675,2210.429967,731.395632,842.625840,1030.821247,247.931741,595.781004,547.589285,590.431693,550.347755,...,0.029633,0.014660,0.006689,0.0,0.0,0.000000,0.005719,0.000000,0.000000,0.000000
10422.17.F.12,1556.621366,746.503619,719.316828,346.763089,834.251291,218.191664,272.419137,458.135332,239.331214,433.900551,...,0.008574,0.000000,0.006959,0.0,0.0,0.000000,0.000000,0.000000,0.009642,0.000000
10422.17.F.13,2258.819506,1287.312528,679.733775,809.619996,899.478175,655.524295,401.276209,440.294614,384.202976,418.461368,...,0.032288,0.000000,0.000000,0.0,0.0,0.008206,0.000000,0.000000,0.000000,0.000000
10422.17.F.3,1283.597075,686.039592,448.487685,344.161721,338.302811,675.748067,274.193477,453.655342,215.747289,252.909432,...,0.003569,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.005337,0.000000,0.004605

In [8]:
otu_table.shape

(182, 1611)

In [9]:
## load mapping file

In [10]:
mapping = pd.read_table("haddad_6week_metadata_sampMatch_rare2k.txt", sep='\t', header=0, index_col=0)

In [11]:
mapping.shape

(182, 69)

In [12]:
mapping.head()

,BarcodeSequence,LinkerPrimerSequence,center_name,experiment_design_description,extraction_robot,extractionkit_lot,instrument_model,library_construction_protocol,linker,mastermix_lot,...,physical_specimen_location,physical_specimen_remaining,sample_type,scientific_name,sex,title,weekly_cage_food_consumption,weight,weight_units,Description
#SampleID,,,,,,,,,,,,,,,,,,,,,
10422.17.F.10,GTTGTTCTGGGA,GTGTGCCAGCMGCCGCGGTAA,UCSDMI,Mouse cohort exposed to apnea and controls to ...,HOWE_KF1,PM16B24,Illumina HiSeq 2500,"EMP 16S V4 protocol 515fbc, 806r",GT,14663,...,UCSD LBR -80 freezer,True,stool,mouse gut metagenome,male,OSA,Missing: Not provided,25.6,g,feces mouse 17 collection 10 of 13
10422.17.F.11,TGTGCTTGTAGG,GTGTGCCAGCMGCCGCGGTAA,UCSDMI,Mouse cohort exposed to apnea and controls to ...,HOWE_KF2,PM16B24,Illumina HiSeq 2500,"EMP 16S V4 protocol 515fbc, 806r",GT,14663,...,UCSD LBR -80 freezer,True,stool,mouse gut metagenome,male,OSA,71.8,25.2,g,feces mouse 17 collection 11 of 13
10422.17.F.12,AGAATCCACCAC,GTGTGCCAGCMGCCGCGGTAA,UCSDMI,Mouse cohort exposed to apnea and controls to ...,HOWE_KF1,PM16B24,Illumina HiSeq 2500,"EMP 16S V4 protocol 515fbc, 806r",GT,14663,...,UCSD LBR -80 freezer,True,stool,mouse gut metagenome,male,OSA,Missing: Not provided,25.7,g,feces mouse 17 collection 12 of 13
10422.17.F.13,CTGTAAAGGTTG,GTGTGCCAGCMGCCGCGGTAA,UCSDMI,Mouse cohort exposed to apnea and controls to ...,HOWE_KF2,PM16B24,Illumina HiSeq 2500,"EMP 16S V4 protocol 515fbc, 806r",GT,14663,...,UCSD LBR -80 freezer,True,stool,mouse gut metagenome,male,OSA,71.7,26.3,g,final feces mouse 17 collection 13 of 13
10422.17.F.3,CTCCCGAGCTCC,GTGTGCCAGCMGCCGCGGTAA,UCSDMI,Mouse cohort exposed to apnea and controls to ...,HOWE_KF2,PM16B24,Illumina HiSeq 2500,"EMP 16S V4 protocol 515fbc, 806r",GT,14663,...,UCSD LBR -80 freezer,True,stool,mouse gut metagenome,male,OSA,105.7,24.9,g,feces mouse 17 collection 3 of 13

In [13]:
mapping.exposure_type.value_counts()

IHH    92
Air    90
Name: exposure_type, dtype: int64

In [14]:
# match mapping file and biom table
mapping, otu_table = match(mapping, otu_table)

In [15]:
print(mapping.shape)
print(otu_table.shape)

(182, 69)
(182, 1611)

In [16]:
# convert values in exposure_type to be integers
labels = np.array((mapping['exposure_type'] == 'IHH').astype(int))

In [17]:
labels

array([1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0])

In [18]:
# transpose otu_table to have OTUs as rows and samples as columns
dat = np.transpose(np.array(otu_table))

In [19]:
dat.shape

(1611, 182)

In [20]:
# apply DS-FDR
result = dsfdr.dsfdr(dat, labels, transform_type='rankdata', method='meandiff', alpha=0.01, numperm=10000, fdr_method='dsfdr')

In [21]:
rej = result[0]

In [22]:
# total number of significant hypotheses
np.sum(rej)

350

In [23]:
s = pd.Series(rej, name='bools')

In [24]:
out = otu_table.T[s.values]

In [25]:
out.head()

,10422.20.F.9,10422.18.F.5,10422.25.F.12,10422.20.F.13,10422.28.F.11,10422.20.F.3,10422.17.F.8,10422.17.F.6,10422.19.F.2,10422.18.F.8,...,10422.23.F.13,10422.22.F.8,10422.24.F.9,10422.30.F.2,10422.21.F.8,10422.19.F.3,10422.23.F.3,10422.28.F.4,10422.17.F.10,10422.26.F.3
357.2784139_5.010000161,765.910359,864.735673,436.622070,789.577615,219.766687,776.836239,680.595800,461.858126,739.901980,466.184544,...,810.333294,304.627891,482.321734,305.638680,310.845637,1033.591612,464.591482,774.375011,610.363039,321.479607
104.1070008_0.335921715,598.096616,716.202981,825.928695,596.656598,966.969263,836.670311,754.793764,457.259323,549.977889,415.550085,...,747.418247,195.792325,453.525557,230.796357,316.931022,500.610255,461.960578,814.222238,826.167771,335.410384
373.2734876_4.338406811,752.354755,388.660500,160.647045,407.488364,106.956429,1014.735074,477.382517,588.562637,212.862434,300.248547,...,523.411740,384.278240,240.059563,103.264543,161.799225,499.428623,132.925096,662.143592,510.036563,433.520736
391.2841105_4.130280369,433.238277,471.037659,192.532209,395.816150,171.788676,473.880476,360.290921,376.787628,179.912743,244.761076,...,568.980827,206.816628,299.532546,121.500276,175.642030,422.920611,171.727733,580.547937,411.027445,263.288918
283.2623651_5.462460306,100.138626,266.268518,480.516214,204.654271,332.814586,167.723518,83.158045,42.000612,622.245680,81.414177,...,370.821639,65.163092,165.981708,343.934589,48.334612,245.188247,302.776010,438.146116,30.953300,159.615720

In [26]:
out.to_csv('features_dsfdr.csv', sep='\t')